<%= javascript_include_tag "admin/login.js", 'data-turbolinks-track': 'reload' %>

<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>管理者画面</b></a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="alert alert-danger"><%= alert %></p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8" style="text-align: end;">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
