<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'registration-form' }) do |f| %>
  <header>
    <h1 class="center">パスワードをお忘れですか？</h1>
  </header>

  <div class="center error-messages">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login-type' %>
  </div>

  <div class="actions">
    <%= f.submit "送信する", class: 'btn-login'  %>
  </div>
<% end %>
