<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css" />

<div id="top" class="community-detail">
  <%= link_to community_community_topic_path(community_id: @community_topic&.community&.id, id: @community_topic.id), class: 'btn-back' do %>
    <i class="fas fa-chevron-circle-left"></i>
  <% end %>

  <header class="page-title">
    <h1>編集</h1>
  </header>

  <%= form_for @community_topic, url: community_community_topic_path(community_id: @community_topic&.community&.id, id: @community_topic.id),
    html: { class: 'registration-form', method: :put } do |f| %>
    <div class="center error-messages">
      <%= render "layouts/errors_messages", resource: @community_topic %>
    </div>

    <div class="field community-images">
      <div class="text-title">
        <label>画像</label>
      </div>
      <%= f.fields_for :community_topic_images do |p| %>
        <div class="image-field">
          <%= file_field_tag "image", id: "image_field_#{p.index}", class: 'image_field', data: {index: p.index} %>
          <%= p.hidden_field :image_topic, id: "image_field_hidden_#{p.index}", value: "" %>
          <%= p.text_field :_destroy, id: "destroy_image_#{p.index}", class: 'destroy_image', value: !p.object.image.exists? %>
          <span id="remove_<%= p.index %>"
                class="remove <%= 'hidden' unless p.object.image.exists? %>"
                data-index="<%= p.index %>">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </span>
          <div class="preview-image" data-index="<%= p.index %>">
            <%= image_tag p.object.image.url, class: 'preview', id: "preview_#{p.index}" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="field">
      <div class="text-title">
        <label>タイトル</label>
        <label class="required">（※必須）</label>
      </div>
      <%= f.text_field :title, value: f.object.title, class: 'login-type' %>
    </div>

    <!--    <div class="field">-->
    <!--      <label>カテゴリ</label>-->
    <%#= f.select :category, options_for_select(category_list, f.object.category || 0), {}, class: 'login-type' %>
    <!--    </div>-->

    <div class="field">
      <div class="text-title">
        <label>概要</label>
        <label class="required">（※必須）</label>
      </div>
      <%= f.text_area :description, value: f.object.description, class: 'text-area' %>
    </div>

    <%= f.hidden_field :community_id, value: @community_topic&.community&.id %>

    <div class="actions">
      <%= link_to "削除", "#", id: "delete-topic", class: "delete-btn" %>
      <%= f.submit "更新する", class: 'btn-login', id: "create-new-community-topic" %>
    </div>
  <% end %>
</div>

<div class="modal-custom modal-delete-topic">
  <span class="btn-close-modal close-modal" title="Close Modal">×</span>
  <div class="modal-content">
    <div class="container">
      <h2>確認</h2>
      <br>
      <h2>削除してよろしいですか</h2>
      <br>
      <div class="clearfix">
        <button type="button" class="btn-cancel close-modal">キャンセル</button>
        <%= link_to "削除", community_community_topic_path(community_id: @community_topic&.community&.id, id: @community_topic.id), method: :delete,class: "btn-confirm" %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/modal_crop_image' %>
<%= render 'layouts/modal_check_word_violate' %>
